@import "tailwindcss";

@layer theme, base, components;

@layer theme {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-roboto-mono);
  --font-large: 2.5rem;
  --font-med: 1.5rem;
  --font-sm: 1rem;

  --color-filepond-bg: #f1f0ef;

  /* --color-gray-light: var();
  --color-gray-mid: var(--color-gray-300);
  --color-gray-dark: var(--color-gray-700); */

  --color-slate-dark: var(--color-slate-600);

  --color-info-light: var(--color-blue-100);
  --color-info-mid: var(--color-blue-200);
  --color-info-darker: var(--color-blue-300);
  --color-info-darkest: var(--color-sky-800);
  --color-warn-light: var(--color-amber-100);
  --color-warn-mid: var(--color-amber-200);
  --color-warn-darker: var(--color-amber-300);
  --color-warn-darkest: var(--color-amber-600);
  --color-err-light: var(--color-red-100);
  --color-err-mid: var(--color-red-200);
  --color-err-darker: var(--color-red-300);
  --color-err-darkest: var(--color-red-800);
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: clip;
  }

  .large-text {
    font-size: var(--font-large);
  }

  .med-text {
    font-size: var(--font-med);
  }

  .sm-text {
    font-size: var(--font-sm);
  }

  .bold-text {
    font-weight: 600;
  }

  .centered-text {
    text-align: center;
  }

  /********  Highlight.js syntax highlighting  ********/

  .hljs-keyword {
    font-weight: 500;
    color: var(--color-pink-800);
  }
  .hljs-operator {
    font-weight: 800;
    color: var(--color-pink-800);
  }

  .hljs-literal {
    font-weight: 500;
    color: var(--color-cyan-700);
  }

  .hljs-pragma {
    font-weight: 500;
    color: var(--color-blue-500);
  }

  .hljs-type {
    color: var(--color-cyan-700);
  }

  .hljs-annotation {
    font-weight: 500;
    color: var(--color-amber-600);
  }

  .hljs-string {
    font-weight: 400;
    color: var(--color-orange-400);
  }

  .hljs-number {
    font-weight: 500;
    color: var(--color-lime-600);
  }

  .hljs-comment {
    font-weight: 200;
    color: var(--color-gray-600);
  }
}

@layer components {
  /********  Header  ********/
  .app-header {
    padding: 1.5rem 2.5rem 0.5rem;
    border-bottom: 1px solid var(--color-gray-300);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .app-header .header-left-align {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    gap: 0.7rem;
  }

  .app-header .title {
    color: var(--color-gray-700);
  }

  .app-header .subtitle {
    color: var(--color-gray-500);
  }

  /********  VerifyButton  ********/
  .verify-button {
    margin: 0.1rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    background-color: var(--color-gray-200);
    color: var(--color-gray-700);
    cursor: pointer;
  }

  .verify-button:hover {
    background-color: var(--color-gray-700);
    color: var(--color-gray-200);
  }

  .verify-button .verify-button-text {
    font-weight: 800;
  }

  .verify-button .verify-button-icon {
    margin-right: 0.3rem;
  }

  /********  Content  ********/
  .app-content {
    position: relative;
    display: inline-flex;
    align-items: stretch;
    flex-grow: 1;
    background-color: var(--color-gray-100);
    overflow-y: scroll;
  }

  /********  Drawer  ********/

  .drawer {
    max-width: 0;
    padding: 0;
    margin: 0;
    background-color: var(--color-slate-dark);
    z-index: 0;
    /* transition:
      min-width 200ms,
      max-width 200ms; */
    box-shadow:
      0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2),
      0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    position: relative;
    align-items: stretch;
  }

  .drawer.expanded {
    min-width: 33%;
    max-width: 33%;
    padding: 1rem;

    /* display: initial; */
  }

  .drawer .drawer-container {
    display: none;
  }

  .drawer.expanded .drawer-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
  }

  .drawer .drawer-content {
    overflow-y: scroll;
    background-color: var(--color-filepond-bg);
    border: 1px solid var(--color-gray-200);
    border-radius: 0.5rem;
    flex-grow: 1;
  }

  .drawer .drawer-tab {
    position: absolute;
    top: 1rem;
    color: var(--color-gray-200);
    background-color: var(--color-slate-dark);
    line-height: 5rem;
    cursor: pointer;
    box-shadow:
      0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2),
      0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  }

  .drawer.drawer-left .drawer-tab {
    left: 0;
  }

  .drawer.drawer-right .drawer-tab {
    right: 0;
  }

  .drawer.drawer-left.expanded .drawer-tab {
    left: 100%;
  }

  .drawer.drawer-right.expanded .drawer-tab {
    right: 100%;
  }

  @media screen and (min-width: 590px) and (max-width: 825px) {
    .drawer.expanded {
      min-width: 275px;
      max-width: 275px;
    }

    .drawer.drawer-left.expanded .drawer-tab {
      left: 275px;
    }

    .drawer.drawer-right.expanded .drawer-tab {
      right: 275px;
    }
  }

  .drawer.drawer-left {
    left: 0;
    border-radius: 0 0.2rem 0.2rem 0;
  }

  .drawer.drawer-right {
    right: 0;
    border-radius: 0.2rem 0 0 0.2rem;
  }

  .drawer .drawer-title {
    margin: 0.5rem;
    color: var(--color-gray-200);
    font-size: 1rem;
    font-weight: 500;
  }

  /********  SourceFileViewer  ********/

  .source-files-container {
    flex-grow: 1;
    flex-shrink: 2;
    overflow-y: scroll;
    padding: 0 1rem;
  }

  .source-files-container .source-files-instruction {
    text-align: center;
    margin-top: 4rem;
    color: var(--color-gray-600);
  }

  .source-files-container .source-files-instruction .source-files-upload-link {
    text-decoration: underline solid var(--color-gray-300);
    cursor: pointer;
  }

  .source-files-container .source-file {
    margin: 0.5rem;
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-300);
    border-radius: 0.5rem;
  }

  .source-file .source-file-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-gray-200);
    font-weight: 600;
    font-size: 1rem;
    line-height: 3rem;
  }

  .source-file.expanded .source-file-header {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid var(--color-gray-300);
  }

  .source-file.collapsed .source-file-header {
    border-radius: 0.5rem;
  }

  .source-file-header:hover {
    background-color: var(--color-gray-300);
  }

  .source-file-header .source-file-name {
    flex-grow: 1;
    font-family: var(--font-sans);
    color: var(--color-gray-600);
  }

  .source-file-header .source-file-icon {
    margin: 0.2rem 0.5rem 0.2rem 1rem;
    color: var(--color-gray-400);
  }

  .source-file-header .source-file-toggle {
    margin-right: 1rem;
    color: var(--color-gray-400);
  }

  .source-file .source-file-render {
    padding: 1rem 0 1rem 1rem;
  }

  /* line number rendering source: https://jaseg.de/blog/css-only-code-blocks/ */
  .source-file .source-file-render .code {
    font-family: var(--font-mono);
    white-space: pre-wrap;
    text-align: left;
    overflow-wrap: anywhere;

    display: grid;
    align-items: start;
    grid-template-columns: min-content 1fr;
    gap: 0;
  }

  .source-file .source-file-render .code::before {
    counter-reset: lineno;
  }

  .source-file .source-file-render .code > .source-file-line-number {
    counter-increment: lineno;
    word-break: keep-all;
    margin: 0;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    overflow: clip;
    position: relative;
    text-align: right;
    color: var(--color-gray-500);
    border-right: 1px solid var(--color-gray-500);
    align-self: stretch;
  }

  .source-file .source-file-render .code > .source-file-line-number::before {
    content: counter(lineno);
    white-space: pre;
    font-size: 0.8rem;
  }

  .source-file .source-file-render .code > .source-file-line-number::after {
    position: absolute;
    right: 0.5rem;
    content: "\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳\a↳";
    white-space: pre;
  }

  .source-file .source-file-render .code > .source-file-line-content {
    padding: 0 1rem;
    text-indent: -0.2rem;
    line-height: 1.5rem;
    /* border-left: 0.2rem solid var(--color-gray-100); */
    height: 100%;
  }

  .source-report {
    cursor: pointer;
  }

  .reports-container {
    overflow-y: scroll;
  }

  .reports-container .reports-instruction {
    color: #505050;
    padding: 0.75rem 0.5rem 0;
  }

  .reports-section .reports-section-header {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.5rem 0;
    border-bottom: 1px solid var(--color-gray-300);
  }

  .reports-section .reports-section-header .reports-section-toggle {
    font-size: 0.6rem;
    color: var(--color-gray-400);
    display: flex;
    gap: 0.5rem;
  }

  .reports-section .reports-section-header .reports-section-toggle > a {
    cursor: pointer;
    text-align: center;
  }

  .reports-section
    .reports-section-header
    .reports-section-toggle
    > a.disabled {
    color: var(--color-gray-300);
  }

  .reports-section .reports-section-title {
    font-weight: 600;
    flex-grow: 1;
  }

  .reports-group-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem 0.1rem 0.5rem;
    line-height: 1.5rem;
  }

  .reports-group-content {
    margin-left: 0.5rem;
  }

  .reports-group-header:hover {
    background-color: var(--color-gray-200);
  }

  .reports-group-header .reports-group-toggle {
    font-size: 0.8rem;
    margin-right: 0.4rem;
    color: var(--color-gray-500);
  }

  .reports-group-header .reports-group-title {
    margin-bottom: 0.1rem;
  }

  .report-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    margin-left: 0.4rem;
  }

  .report-item .report-item-header {
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
    cursor: pointer;
  }

  .report-item .report-item-message {
    color: var(--color-gray-600);
  }

  .report-item .report-item-message .report-item-line-info {
    color: var(--color-gray-700);
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: 400;
  }
  .report-item.report-item-info.selected .report-item-message,
  .report-item.report-item-info.hovered .report-item-message {
    color: var(--color-info-darkest);
  }

  .report-item.report-item-warn.selected .report-item-message,
  .report-item.report-item-warn.hovered .report-item-message {
    color: var(--color-warn-darkest);
  }

  .report-item.report-item-err.selected .report-item-message,
  .report-item.report-item-err.hovered .report-item-message {
    color: var(--color-err-darkest);
  }

  .report-item .report-item-icon {
    margin-right: 0.3rem;
    margin-top: 0.3rem;
  }

  .report-item .report-item-message {
    flex-grow: 1;
  }

  .report-item .report-item-message-detail {
    /* margin: 0.2rem; */
    margin-top: 0.5rem;
    color: var(--color-gray-700);
    font-size: 0.9rem;
  }
  .report-item.report-item-info {
    border-left: 0.2rem solid var(--color-info-darker);
  }

  .report-item.report-item-warn {
    border-left: 0.2rem solid var(--color-warn-darker);
  }

  .report-item.report-item-err {
    border-left: 0.2rem solid var(--color-red-500);
  }

  .source-file
    .source-file-render
    .code
    > .source-file-line-content.source-report.source-report-info {
    border-right: 0.15rem dotted var(--color-info-darker);
  }

  .source-file
    .source-file-render
    .code
    > .source-file-line-content.source-report.source-report-warn {
    border-right: 0.15rem dotted var(--color-warn-darker);
  }

  .source-file
    .source-file-render
    .code
    > .source-file-line-content.source-report.source-report-err {
    border-right: 0.15rem dotted var(--color-red-500);
  }

  .report-item.report-item-info .report-item-icon-severity {
    color: var(--color-info-darkest);
  }

  .report-item.report-item-warn .report-item-icon-severity {
    color: var(--color-warn-darkest);
  }

  .report-item.report-item-err .report-item-icon-severity {
    color: var(--color-err-darkest);
  }

  .report-item .report-item-icon.report-item-icon-expand {
    color: var(--color-gray-600);
  }

  /********  report highlighting  ********/

  .source-report.source-report-info.hovered,
  .report-item.report-item-info.hovered {
    background-color: var(--color-info-mid);
  }

  .source-report.source-report-warn.hovered,
  .report-item.report-item-warn.hovered {
    background-color: var(--color-warn-mid);
  }

  .source-report.source-report-err.hovered,
  .report-item.report-item-err.hovered {
    background-color: var(--color-err-mid);
  }

  .source-report.source-report-info.selected,
  .report-item.report-item-info.selected {
    background-color: var(--color-info-light);
  }

  .source-report.source-report-warn.selected,
  .report-item.report-item-warn.selected {
    background-color: var(--color-warn-light);
  }

  .source-report.source-report-err.selected,
  .report-item.report-item-err.selected {
    background-color: var(--color-err-light);
  }

  .source-report.selected .source-report-text-highlight-info {
    background-color: var(--color-info-mid);
  }

  .source-report.selected .source-report-text-highlight-warn {
    background-color: var(--color-warn-mid);
  }

  .source-report.selected .source-report-text-highlight-err {
    background-color: var(--color-err-mid);
  }

  .source-report.hovered .source-report-text-highlight-info {
    background-color: var(--color-info-darker);
  }

  .source-report.hovered .source-report-text-highlight-warn {
    background-color: var(--color-warn-darker);
  }

  .source-report.hovered .source-report-text-highlight-err {
    background-color: var(--color-err-darker);
  }
}
