@import "tailwindcss";

@layer theme, base, components;

@layer theme {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-roboto-mono);
  --font-large: 2.5rem;
  --font-med: 1.5rem;
  --font-sm: 1rem;
  --color-filepond-bg: #f1f0ef;
}

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: clip;
  }

  .large-text {
    font-size: var(--font-large);
  }

  .med-text {
    font-size: var(--font-med);
  }

  .sm-text {
    font-size: var(--font-sm);
  }

  .bold-text {
    font-weight: 600;
  }

  .centered-text {
    text-align: center;
  }
}

@layer components {
  /********  Header  ********/
  .app-header {
    padding: 1.5rem 2.5rem 0.5rem;
    border-bottom: 1px solid var(--color-gray-300);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .app-header .header-left-align {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    gap: 0.7rem;
  }

  .app-header .title {
    color: var(--color-gray-700);
  }

  .app-header .subtitle {
    color: var(--color-gray-500);
  }

  /********  VerifyButton  ********/
  .verify-button {
    margin: 0.1rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    background-color: var(--color-gray-200);
    color: var(--color-gray-700);
    cursor: pointer;
  }

  .verify-button:hover {
    background-color: var(--color-gray-700);
    color: var(--color-gray-200);
  }

  .verify-button .verify-button-text {
    font-weight: 800;
  }

  .verify-button .verify-button-icon {
    margin-right: 0.3rem;
  }

  /********  Content  ********/
  .app-content {
    position: relative;
    display: inline-flex;
    align-items: stretch;
    flex-grow: 1;
    background-color: var(--color-gray-100);
    overflow-y: scroll;
  }

  /********  Drawer  ********/

  .drawer-container {
    max-width: 0;
    padding: 0;
    margin: 0;
    background-color: var(--color-slate-600);
    z-index: 20;
    /* transition:
      min-width 200ms,
      max-width 200ms; */
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }

  /* .drawer-container {
    width: 0;
  } */

  .drawer-container.expanded {
    min-width: 33%;
    max-width: 33%;
    padding: 1rem;

    /* display: initial; */
  }

  .drawer-container .drawer-content {
    display: none;
    flex-grow: 1;
    flex-direction: column;
    /* transition: all 200ms; */
  }

  .drawer-container.expanded .drawer-content {
    display: flex;
  }

  .drawer-container .drawer-tab {
    position: absolute;
    top: 10px;
    color: var(--color-gray-200);
    background-color: var(--color-slate-600);
    line-height: 5rem;
    cursor: pointer;
    z-index: 10;
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 2px 4px 0 rgba(0, 0, 0, 0.2);
    /* transition: all 200ms; */
  }

  .drawer-container.drawer-container-left .drawer-tab {
    left: 0;
  }

  .drawer-container.drawer-container-right .drawer-tab {
    right: 0;
  }

  .drawer-container.drawer-container-left.expanded .drawer-tab {
    left: calc(100% * 0.33);
  }

  .drawer-container.drawer-container-right.expanded .drawer-tab {
    right: calc(100% * 0.33);
  }

  @media screen and (min-width: 551ppx) and (max-width: 825px) {
    .drawer-container.expanded {
      min-width: 275px;
      max-width: 275px;
    }

    .drawer-container.drawer-container-left.expanded .drawer-tab {
      left: 275px;
    }

    .drawer-container.drawer-container-right.expanded .drawer-tab {
      right: 275px;
    }
  }

  .drawer-container.drawer-container-left {
    left: 0;
    border-radius: 0 2px 2px 0;
  }

  .drawer-container.drawer-container-right {
    right: 0;
    border-radius: 2px 0 0 2px;
  }

  .drawer-container .drawer-title {
    margin: 0.5rem;
    color: var(--color-gray-200);
    font-size: 1rem;
    font-weight: 500;
  }

  /********  SourceFileViewer  ********/

  .source-files-container {
    flex-grow: 1;
    flex-shrink: 2;
    overflow-y: scroll;
    padding: 0 1rem;
  }

  .source-files-container .source-file-render {
    margin: 0.5rem;
    overflow-wrap: anywhere;
    background-color: var(--color-gray-50);
  }

  .source-file-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-gray-200);
    color: var(--color-gray-700);
    font-weight: 600;
    font-size: 0.7rem;
  }

  .source-file-header:hover {
    background-color: var(--color-gray-300);
  }

  .source-file-header .source-file-name {
    flex-grow: 1;
    font-size: 1rem;
    font-family: var(--font-sans);
    margin: 0.7rem 0 0.5rem 0.2rem;
  }

  .source-file-header .source-file-icon {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
  }

  .source-file-header .source-file-toggle {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .source-file-contents {
    border: 1px solid var(--color-gray-200);
    border-radius: 1px;
    font-family: var(--font-mono);
    white-space: pre-wrap;
    padding: 1rem;
  }

  .source-report {
    position: relative;
    cursor: pointer;
    border-radius: 0.25rem;
    display: block;
    padding: 0.5rem;
  }

  .source-report.source-report-info {
    border: 1px dashed var(--color-blue-300);
  }

  .source-report.source-report-warn {
    border: 1px dashed var(--color-amber-300);
  }

  .source-report.source-report-err {
    border: 1px dashed var(--color-red-300);
  }

  /********  ReportViewer  ********/

  /* .drawer-container .reports-container {
    display: none;
  } */

  /* .drawer-container.expanded .reports-container {
    display: flex;
  } */

  .reports-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-filepond-bg);
    border: 1px solid var(--color-gray-200);
    border-radius: 7px;
    margin: 0.1rem;
    padding: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
  }

  .reports-container .reports-instruction {
    color: #505050;
  }

  .report-item {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .report-item .report-item-icon {
    margin-right: 0.3rem;
    margin-top: 0.3rem;
  }

  .report-item .report-item-message {
    flex-grow: 1;
  }
  .report-item.report-item-info {
    border-left: 2px solid var(--color-blue-300);
  }

  .report-item.report-item-warn {
    border-left: 2px solid var(--color-amber-300);
  }

  .report-item.report-item-err {
    border-left: 2px solid var(--color-red-500);
  }

  .report-item.report-item-info .report-item-icon {
    color: var(--color-sky-800);
  }

  .report-item.report-item-warn .report-item-icon {
    color: var(--color-amber-600);
  }

  .report-item.report-item-err .report-item-icon {
    color: var(--color-red-800);
  }

  /********  report highlighting  ********/

  .source-report.source-report-info.hovered,
  .report-item.report-item-info.hovered {
    background-color: var(--color-blue-200);
  }

  .source-report.source-report-warn.hovered,
  .report-item.report-item-warn.hovered {
    background-color: var(--color-amber-200);
  }

  .source-report.source-report-err.hovered,
  .report-item.report-item-err.hovered {
    background-color: var(--color-red-200);
  }

  .source-report.source-report-info.selected,
  .report-item.report-item-info.selected {
    background-color: var(--color-blue-100);
  }

  .source-report.source-report-warn.selected,
  .report-item.report-item-warn.selected {
    background-color: var(--color-amber-100);
  }

  .source-report.source-report-err.selected,
  .report-item.report-item-err.selected {
    background-color: var(--color-red-100);
  }

  .source-report.source-report-info.hovered {
    border: 1px solid var(--color-blue-300);
  }

  .source-report.source-report-warn.hovered {
    border: 1px solid var(--color-amber-300);
  }

  .source-report.source-report-err.hovered {
    border: 1px solid var(--color-red-300);
  }

  .source-report.source-report-info.selected {
    border: 1px solid var(--color-blue-200);
  }

  .source-report.source-report-warn.selected {
    border: 1px solid var(--color-amber-300);
  }

  .source-report.source-report-err.selected {
    border: 1px solid var(--color-red-300);
  }
}
