# IDE
.vscode
.idea

# Gradle
**/.gradle
**/.kotlin
**/.gitattributes

# Build dirs
/rsvp/build
/rsvp/bin
/rsvp/app/build
/rsvp/app/bin
/rsvp/webserver/build
/rsvp/webserver/bin
/rsvp/policy-ast/build
/rsvp/policy-ast/bin
/rsvp/rsvp-tmp
/rsvp/support/bin
/rsvp/support/build
/rsvp/verification/bin
/rsvp/verification/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
