@layer components {
  /******** ReportViewer ********/

  .reports-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .reports-container .reports-instruction {
    color: #505050;
    padding: 0.75rem 0.5rem 0;
  }

  .reports-container:has(.progress-spinner-icon) {
    margin-top: 6rem;
  }

  .reports-section .reports-section-header {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.5rem 0;
    border-bottom: 1px solid var(--color-gray-300);
  }

  .reports-section .reports-section-title {
    font-weight: 600;
  }

  .reports-section .reports-section-count {
    flex-grow: 1;
    font-size: 0.8rem;
    margin-left: 0.3rem;
    color: var(--color-gray-800);
    font-weight: 700;
    align-self: center;
  }

  .reports-group-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem 0.1rem 0.5rem;
    line-height: 1.5rem;
  }

  .reports-group-content {
    margin-left: 0.5rem;
  }

  .reports-group-header:hover {
    background-color: var(--color-gray-200);
  }

  .reports-group-header .reports-group-toggle {
    font-size: 0.8rem;
    margin-right: 0.4rem;
    color: var(--color-gray-500);
  }

  .reports-group-header .reports-group-title {
    margin-bottom: 0.1rem;
  }

  .reports-group-header .reports-group-count {
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
    line-height: 1.5rem;
    margin-left: 0.2rem;
    color: var(--color-gray-700);
    font-weight: 600;
  }

  .report-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    margin-left: 0.4rem;
    cursor: pointer;
  }

  .report-item .report-item-header {
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
    justify-content: space-between;
  }
  .report-item .report-item-message {
    color: var(--color-gray-600);
    flex-grow: 1;
  }

  .report-item .report-item-message .report-item-line-info {
    color: var(--color-gray-700);
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
  }
  .report-item.report-item-info.selected .report-item-message,
  .report-item.report-item-info.hovered .report-item-message {
    color: var(--color-info-darkest);
  }

  .report-item.report-item-warn.selected .report-item-message,
  .report-item.report-item-warn.hovered .report-item-message {
    color: var(--color-warn-darkest);
  }

  .report-item.report-item-err.selected .report-item-message,
  .report-item.report-item-err.hovered .report-item-message {
    color: var(--color-err-darkest);
  }

  .report-item .report-item-icon {
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    width: initial !important; /* override FA style */
  }

  .report-item .report-item-message {
    flex-grow: 1;
  }

  .report-item .report-item-message-detail {
    margin: 0.5rem 0;
    padding-left: 1.8rem;
    color: var(--color-gray-700);
    font-size: 0.8rem;
    white-space: pre-wrap;
  }

  .report-item .report-item-source-location-list {
    display: flex;
    flex-direction: column;
    margin-left: 1.4rem;
    justify-items: baseline;
  }

  .report-item .report-item-source-location-list .report-item-source-location {
    font-size: 0.7rem;
    line-height: 1.1rem;
    cursor: pointer;
    padding: 0.1rem 0 0.1rem 1.5rem;
    align-self: flex-start;

    /* padding-left: 1.5rem; */
    text-indent: -0.9rem;
    /* padding-right: 0; */
    margin-right: 0.9rem;
    display: block;
    width: 100%;
  }

  .report-item
    .report-item-source-location-list
    .report-item-source-location
    .location {
    font-weight: 500;
    color: var(--color-gray-700);
  }

  .report-item
    .report-item-source-location-list
    .report-item-source-location
    .message {
    font-weight: 300;
  }

  .report-item
    .report-item-source-location-list
    .report-item-source-location::before {
    content: "↳";
    margin-right: 0.2rem;
  }

  .report-item.report-item-info
    .report-item-source-location-list
    .report-item-source-location:hover,
  .report-item.report-item-info.hovered
    .report-item-source-location-list
    .report-item-source-location.hovered:not(:hover) {
    background-color: var(--color-info-darker);
  }

  .report-item.report-item-warn
    .report-item-source-location-list
    .report-item-source-location:hover,
  .report-item.report-item-warn.hovered
    .report-item-source-location-list
    .report-item-source-location.hovered:not(:hover) {
    background-color: var(--color-warn-darker);
  }

  .report-item.report-item-err
    .report-item-source-location-list
    .report-item-source-location:hover,
  .report-item.report-item-err.hovered
    .report-item-source-location-list
    .report-item-source-location.hovered:not(:hover) {
    background-color: var(--color-err-darker);
  }

  .report-item.report-item-info
    .report-item-source-location-list
    .report-item-source-location.hovered:not(:hover) {
    background-color: var(--color-info-mid);
  }

  .report-item.report-item-warn
    .report-item-source-location-list
    .report-item-source-location.hovered:not(:hover) {
    background-color: var(--color-warn-mid);
  }
  .report-item.report-item-err
    .report-item-source-location-list
    .report-item-source-location.hovered:not(:hover) {
    background-color: var(--color-err-mid);
  }

  .report-item.report-item-info {
    border-left: 0.2rem solid var(--color-info-darker);
  }

  .report-item.report-item-warn {
    border-left: 0.2rem solid var(--color-warn-darker);
  }

  .report-item.report-item-err {
    border-left: 0.2rem solid var(--color-red-500);
  }

  .report-item.report-item-info .report-item-icon-severity {
    color: var(--color-info-darkest);
  }

  .report-item.report-item-warn .report-item-icon-severity {
    color: var(--color-warn-darkest);
  }

  .report-item.report-item-err .report-item-icon-severity {
    color: var(--color-err-darkest);
  }

  .report-item .report-item-icon.report-item-icon-expand {
    color: var(--color-gray-600);
  }

  /********  report highlighting  ********/

  .report-item.report-item-info.hovered {
    background-color: var(--color-info-mid);
  }

  .report-item.report-item-warn.hovered {
    background-color: var(--color-warn-mid);
  }

  .report-item.report-item-err.hovered {
    background-color: var(--color-err-mid);
  }

  .report-item.report-item-info.selected {
    background-color: var(--color-info-light);
  }

  .report-item.report-item-warn.selected {
    background-color: var(--color-warn-light);
  }

  .report-item.report-item-err.selected {
    background-color: var(--color-err-light);
  }
}
