/** Diff2Html overrides **/

.d2h-file-wrapper {
  margin-bottom: 0;
  border: none;
}

.d2h-file-name-wrapper {
  margin-left: 0.5rem;
}

.d2h-file-header {
  display: none;
}

.d2h-icon {
  color: var(--color-gray-400);
}

.d2h-file-name {
  font-family: var(--font-sans);
  color: var(--color-gray-700);
}

.d2h-diff-table {
  font-size: 0.8rem;
  color: var(--color-gray-700);
  font-family: var(--font-mono);
  table-layout: fixed;
}

.d2h-diff-table td:not(.d2h-code-side-linenumber) {
  width: 100%;
  padding-left: 3rem;
}

.d2h-code-side-linenumber {
  width: 3rem;
  line-height: 1.3rem;
  display: block;
  position: relative;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  z-index: 1;
}

.d2h-code-side-line {
  margin-left: -3rem;
  border: 0;
  width: fit-content;
}

.d2h-ins .d2h-code-side-line {
  background-color: var(--d2h-ins-bg-color);
}

.d2h-del .d2h-code-side-line {
  background-color: var(--d2h-del-bg-color);
}

.d2h-info {
  background-color: var(--color-gray-100);
}

.d2h-code-line-ctn {
  vertical-align: baseline;
}

/** Impact render **/
.diff-impact tr:has(.d2h-cntx) {
  display: none;
}

.diff-impact .d2h-code-side-linenumber {
  display: none;
}

.diff-impact .d2h-code-side-line {
  padding: 0;
  margin: 0 0.75rem;
}

.diff-impact .d2h-diff-table tr {
  display: block;
}
.diff-impact .d2h-diff-table td {
  padding-left: 0;
}

.diff-impact .d2h-cntx.d2h-emptyplaceholder {
  display: none;
}

.diff-impact .d2h-info {
  color: transparent;
  border-left: 1px solid var(--d2h-info-border-color);
  line-height: 0.25rem;
}

.diff-impact .d2h-change,
.diff-impact .d2h-del,
.diff-impact .d2h-ins {
  border-left: 1px solid var(--d2h-line-border-color);
}

.diff-impact .d2h-file-side-diff:first-child {
  border-radius: 0 0 0 0.45rem;
}

.diff-impact .d2h-file-side-diff:last-child {
  border-radius: 0 0 0.45rem 0;
}

.diff-impact .d2h-code-line ins,
.diff-impact .d2h-code-line del,
.diff-impact .d2h-code-side-line del,
.diff-impact .d2h-code-side-line ins {
  background-color: transparent;
}

.diff-impact .source-file-impact {
  display: flex;
  justify-items: stretch;
  flex-direction: row;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.2rem;
  background-color: var(--color-gray-50);
}

.source-file-impact .impact-render-changes {
  overflow-x: scroll;
  padding: 0.1rem 0 0.75rem 0;
  width: 50%;
  border-left: 1px solid var(--d2h-line-border-color);
}

.source-file-impact .impact-render-change {
  white-space: pre;
  padding: 0 0.75rem;
  color: var(--color-gray-700);
  width: fit-content;
  cursor: pointer;
}

.source-file-impact .impact-render-change-permitted {
  background-color: var(--d2h-ins-bg-color);
}
.source-file-impact .impact-render-change-forbidden {
  background-color: var(--d2h-del-bg-color);
}

.source-file-impact .impact-render-change-permitted:hover {
  background-color: var(--d2h-ins-highlight-bg-color);
}
.source-file-impact .impact-render-change-forbidden:hover {
  background-color: var(--d2h-del-highlight-bg-color);
}

.source-file-impact .impact-render-summary::before {
  margin-right: 0.75rem;
}
.source-file-impact .impact-render-permitted-summary::before {
  content: "+";
}

.source-file-impact .impact-render-forbidden-summary::before {
  content: "-";
}
