@layer components {
  /******** FileUploader ********/

  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .upload-container .analysis-group-header {
    padding: 0.75rem 0.34rem 0 0.5rem;
    border-bottom: 1px solid var(--color-gray-300);
    display: flex;
    align-items: center;
    color: var(--color-gray-700);
    cursor: pointer;
  }

  .upload-container .analysis-group-header:hover {
    background-color: var(--color-gray-200);
  }

  .create-policy-context-button {
    margin: 0.5rem;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    background-color: var(--color-gray-200);
    color: var(--color-gray-700);
    cursor: pointer;
  }

  .create-policy-context-button:hover {
    background-color: var(--color-gray-700);
    color: var(--color-gray-200);
  }

  .create-policy-context-button .create-policy-context-button-text {
    font-weight: 800;
  }

  .create-policy-context-button .create-policy-context-button-icon {
    margin-right: 0.4rem;
  }

  /** Create analysis group form **/

  .create-analysis-group-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 0.5rem;
  }
  .create-analysis-group-form .create-analysis-group-text-input {
    border: 1px solid var(--color-gray-300);
    border-radius: 0.2rem;
    padding: 0 0.5rem;
    margin-top: 1rem;
  }

  .create-analysis-group-form .create-analysis-group-text-input:focus-visible,
  .create-analysis-group-form .create-analysis-group-text-input:focus {
    outline: none;
  }

  .create-analysis-group-form .create-analysis-group-text-input.invalid {
    outline: 1px solid var(--color-err-darker);
  }

  .create-analysis-group-form .input-error-message-container {
    position: relative;
  }

  .create-analysis-group-form .input-error-message {
    color: var(--color-err-darkest);
    font-size: 0.7rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
  }

  .create-analysis-group-form .create-analysis-group-buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .create-analysis-group-form button {
    margin: 1.5rem 0.2rem 0.5rem;
    padding: 0.4rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--color-gray-200);
    color: var(--color-gray-700);
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .create-analysis-group-form button:not([disabled]) {
    cursor: pointer;
  }

  .create-analysis-group-form button:is([disabled]) {
    color: var(--color-gray-300);
  }

  .create-analysis-group-form button .button-icon {
    font-size: 1rem;
  }

  .create-analysis-group-form button .button-text {
    font-weight: 700;
    font-size: 1rem;
  }
  .create-analysis-group-form button:hover:not([disabled]) {
    background-color: var(--color-gray-700);
    color: var(--color-gray-200);
  }

  /** Analysis group **/

  .upload-container .analysis-group-header .analysis-group-title {
    flex-grow: 1;
  }

  .upload-container .analysis-group-header .analysis-group-delete-icon {
    font-size: 0.75rem;
    cursor: pointer;
    color: var(--color-gray-700);
  }

  .upload-container
    .analysis-group:has(
      > .analysis-group-header > .analysis-group-delete-icon:hover
    ) {
    background-color: var(--color-gray-200);
  }

  .upload-container .analysis-group-filelist {
    padding: 0.5rem 0 0 0;
  }

  .upload-container .file-list-title {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .upload-container .uploaded-file-container {
    width: 100%;
  }

  .upload-container .uploaded-file-versions {
    margin-left: 0.75rem;
    border-left: 0.2rem dotted var(--color-gray-500);
  }

  .upload-container .uploaded-file {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.3rem 0.1rem 0.45rem;
    color: var(--color-gray-800);
  }

  .upload-container .uploaded-file:hover {
    background-color: var(--color-gray-200);
  }

  .upload-container
    .uploaded-file-container:has(
      > .uploaded-file > .uploaded-file-delete-icon:hover
    ) {
    background-color: var(--color-gray-200);
  }

  .upload-container .uploaded-file-versions .uploaded-file {
    padding-left: 0.7rem;
  }

  .upload-container .uploaded-file .uploaded-filetype-icon {
    font-size: 0.7rem;
    color: var(--color-gray-600);
    margin-right: 0.3rem;
    margin-top: 0.1rem;
  }

  .upload-container .uploaded-file-draggable {
    cursor: grab;
  }

  .upload-container .uploaded-file-draggable.dragging {
    cursor: grabbing;
  }

  .upload-container
    .uploaded-file
    .uploaded-file-name
    .uploaded-file-version-indicator {
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0.15rem 0.25rem;
    margin-right: 0.5rem;
    color: var(--color-gray-50);
    background-color: var(--color-gray-500);
    border-radius: 0.25rem;
    vertical-align: middle;
  }

  .upload-container .uploaded-file .uploaded-file-name {
    flex-grow: 1;
    cursor: pointer;
  }

  .upload-container .action-icon {
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--color-gray-600);
    padding: 0 0.15rem;
    margin: 0.05rem 0;
  }

  .upload-container .action-icon:hover {
    background-color: var(--color-gray-300);
  }

  .analysis-group {
    padding-bottom: 0.2rem;
  }

  .analysis-group .analysis-group-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .analysis-group .analysis-group-title.error {
    color: var(--color-red-700);
  }

  .analysis-group .analysis-group-errors {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem;
  }

  .analysis-group .analysis-group-errors .analysis-group-error {
    color: var(--color-red-700);
    font-size: 0.8rem;
    line-height: 1.25rem;
  }

  .analysis-group .analysis-group-errors .analysis-group-error-icon {
    font-size: 0.6rem;
    margin-right: 0.1rem;
    margin-bottom: 0.04rem;
  }

  .file-input {
    padding: 0.5rem;
  }

  .file-input .drop-zone {
    border-radius: 0.5rem;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-300);
    color: var(--color-gray-500);
    cursor: pointer;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }

  .file-input .drop-zone:hover:not(.error) {
    border-color: var(--color-gray-400);
    color: var(--color-gray-600);
  }

  .file-input .drop-zone.error {
    border-color: var(--color-err-darker);
    color: var(--color-red-700);
  }

  .file-input .drop-zone.error:hover {
    border-color: var(--color-err-darkest);
    color: var(--color-red-700);
  }

  .file-input .drop-zone .drop-message {
    height: 100%;
    min-height: 100%;
    padding: 1rem;
  }

  .file-input .drop-zone .drop-message p {
    text-align: left;
  }
}
